services:
  - type: web
    name: nyaya-lite
    env: node
    plan: free
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: GOOGLE_MAPS_API_KEY
        sync: false
      - key: GEMINI_API_KEY
        sync: false
